 <div class="agent-header">
     <h3 class="page-name">{{page_name}}</h3>
        <nav>
            <ul>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </div>