<div class="agent-sidenav">
    <a class="active" href="/a/dashboard"><i class="fa fa-home"></i></a>
    <a href="/a/dashboard"><i class="fas fa-tachometer-alt"></i></a>
    <a href="/a/orders"><i class="fas fa-file-invoice-dollar"></i></a>
    <a href="/a/users"><i class="far fa-address-book"></i></a>
    <a href="/admin"><i class="fas fa-cogs"></i></a>
</div>
