<div class="cart-options">
    <form action="/orders/walkin/{{cart_id}}/create" method="POST">
        <button class="create-order" type="submit">Place Order</button>
    </form>
    <form action="/orders/walkin/cart/{{cart_id}}/clear" method="POST">
        <input type="hidden" name="_method", value="DELETE">
        <button class="delete-cart" type="submit">Clear Cart</button>
    </form>
</div>

<script>
$('.delete-cart').on("click", function(event){
    if (window.confirm('Are you sure you want to clear your cart?')){
        console.log('cart deleted')
    }
    else{
        event.preventDefault()
    }
  
});

$('.create-order').on("click", function(event){
    if (window.confirm('To confirm your order, please click OK. If you want to make changes to your cart, please click Cancel')){
        console.log('Order placed')
    }
    else{
      event.preventDefault()
    }
  
});
</script>