{{> agent_side_nav}}

<div class="agent-main-wrapper">
{{> agent_header }}
  <div class="admin-wrapper">
    <div class="admin-settings">
      {{> messages }}
        <a href="/admin" style="color:black; font-size:20px; text-decoration:underline">Admin</a>
        >
        <a href="/admin/menu_items" style="color:black; font-size:20px; text-decoration:underline">Menu Items</a>
        >
        <h3 style="display: inline;">Create Menu Item</h3>
        <div class="create-menu-item-form">
        <form action="/admin/menu_items" method="post" enctype="multipart/form-data">
        <div class="form-input">
        <label for="name">Menu item name</label>
        <input type="text" name="name" id="menu-item-name" required>
        </div>
        <div class="form-input">
        <label for="price">Price</label>
        </div>
        <input type="number" name="price" id="menu-price" required>
        <div class="form-input">
        <label for="image">Menu Image</label>
        <input type="file" name="image" id="menuItem_image" style="border: none;">
        </div>
        <div class="form-input"></div>
        <button type="submit" class="form-action">Create</button>
        <button type="reset" class="form-action">Reset</button>
        </form>
        </div>
    </div>
  </div>
</div>
