{{> agent_side_nav}}
<div class="agent-main-wrapper">
{{> agent_header }}
  <div class="admin-wrapper customers">
    <div class="admin-settings customers">
      {{> messages }}
        <div class="all-orders-wrapper">
          <div class="all-orders-title">
            <h4>All Orders</h4>
          </div>
            {{> orders_all_table }}
            <div class="order-filter">
              <p><strong>Filter by customers</strong></p>
              <form action="/a/orders" method="POST">
              <select name="user_id">
                <option value="0" {{#unless user}}selected{{/unless}}>All</option>
                {{#each users}}
                <option value="{{this._id}}">{{this.name}}</option>
                {{/each}}
                {{#if user}}
                {{#each user}}
                <option value="{{this._id}}" selected>{{this.name}}</option>
                {{/each}}
                {{/if}}
              </select>
              <button class="form-action" type="submit">Apply</button>
              </form>
            </div>  
        </div>
        
  </div>
</div>
</div>
<script>
  $(document).ready( function () {
    $('#all-orders-table').DataTable({"ordering": false, "pageLength": 25, "columnDefs": [
    { "width": "30%"}]})
});

</script>
